# Nuxt dev/build outputs
.output
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

.credentials


# Created by https://www.toptal.com/developers/gitignore/api/cypressio
# Edit at https://www.toptal.com/developers/gitignore?templates=cypressio

### CypressIO ###
# gitignore template for the CypressIO, browser test framework
# website: https://www.cypress.io/

cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

# End of https://www.toptal.com/developers/gitignore/api/cypressio

cypress.env.json
